Repository Retlek-Systems-Inc/rs_cmake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_dockerfiles:lint, sw-dev:build, hw-dev:build, docs:build

.gitlab-ci.yml:

# @copyright 2021 Retlek Systems Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

stages:
  - lint
  - build

default:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]

# Common Build Docker script
.common_build_docker: &common_build_docker
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  - >-
    /kaniko/executor
    --context "${CI_PROJECT_DIR}"
    --dockerfile "${CI_PROJECT_DIR}/docker/${DOCKER_IMAGE}/Dockerfile"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:${CI_COMMIT_TAG}"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:latest"

lint_dockerfiles:lint:
  stage: lint
  image:
    name: hadolint/hadolint:latest-debian
  script:
    - hadolint docker/sw-dev/Dockerfile
    - hadolint docker/hw-dev/Dockerfile
    - hadolint docker/docs/Dockerfile
  only:
    refs:
      - master
      - merge_requests
    changes:
      - docker/*/Dockerfile

sw-dev:build:
  stage: build
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: sw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/sw-dev/Dockerfile

hw-dev:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: hw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

docs:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: docs
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

Fixing copy of presets and removing debug messages.
  Init.cmake
  Modules/CodeCoverage.cmake
Due: none

Prep for release.
  External/base.cmake
  External/workflows/github_test_sw.yml
Due: none

Adding feature to upload to a remote host and make dependencies on targets or directories.
  functions/UploadToRemote.cmake
Due: none

Adding check upload on both local and remote machines.
  functions/UploadToRemote.cmake
Due: none

Cleanup of messages for upload to remote.
  functions/UploadToRemote.cmake
Due: none

Partitioning out presets based on env/toolchain.
  presets/CMakePresets-analysis.json
  presets/CMakePresets-arm-none-gcc.json
  presets/CMakePresets-common.json
  presets/CMakePresets-native-clang.json
  presets/CMakePresets-native-gcc.json
Due: none

Fix for remote not supporting rsync, clear out rsync_exe for further checks.
  functions/UploadToRemote.cmake
Due: none

Fixing toolchain file location - doesn't work with relative path.
  presets/CMakePresets-analysis.json
  presets/CMakePresets-arm-none-gcc.json
  presets/CMakePresets-native-clang.json
  presets/CMakePresets-native-gcc.json
Due: none

Fixing msan description in presets.
  presets/CMakePresets-native-clang.json
Due: none

Updating copiled CMakePresets.json file and notes.
  External/CMakePresets.json
  External/CMakePresets_notes.md
Due: none

Cleanup of presets and bootstrap.
  External/CMakePresets_notes.md
  External/workflows/github_test_sw.yml
  presets/CMakePresets-analysis.json
Due: none

Removing ... in .clang format/tidy yaml files.
  External/.clang-format.none
  External/.clang-tidy-Protobuf
  External/.clang-tidy-nanopb
Due: none

Prepare for release and updating github_test_sw.yml with required changes.
  External/base.cmake
  External/workflows/github_test_sw.yml
Due: none

Minor fixes and adding in NO_DISCOVERY option to TestTarget.
  External/.gitlab-ci.yml.default
  functions/TestTarget.cmake
  presets/CMakePresets-arm-none-gcc.json
Due: none

Updating Sanitizer settings and preset options to no longer hide Msan.
  Modules/Sanitizer.cmake
  presets/CMakePresets-native-clang.json
Due: none

Updating python setup venv to track changes with timestamp file.
  functions/PythonSetupVenv.cmake
Due: none

Moving all FetchContent into sbom.cmake for ease of identifying dependencies. Rework of other files to accomodate.
  External/.devcontainer/devcontainer.json
  External/.gitlab-ci.yml.default
  External/base.cmake
  External/sbom.cmake
  Init.cmake
  Modules/FindDefaultBenchmark.cmake
  Modules/FindDefaultStaticAnalysis.cmake
  Modules/FindDefaultTest.cmake
  Modules/FindDoc.cmake
  Modules/FindFormatter.cmake
  Modules/FindHtmlTidy.cmake
  functions/TestTarget.cmake
  toolchain/clang.toolchain.cmake
Due: none

Updating to clang-20 for sw-dev and making sw-arm-none-eabi both to native and arm-none.
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Adding pre-commit default config.
  External/.pre-commit-config.yaml
  Init.cmake
Due: none

Updating publish docker uses versions.
  .github/workflows/publish_docker.yml
Due: none

Updating all github workflow action versions.
  External/.gitlab-ci.yml.default
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
Due: none

Adding in pre-commit install into sw-dev docker image
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Fixing hadolint issues with pipx pre-commit install.
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Hadolint error suppression want latest in arm-none-eabi
  docker/sw-arm-none-eabi/Dockerfile
Due: lint_dockerfiles:lint

Preparation for next release version updates.
  External/bitbucket-pipelines.yml.default
  External/sbom.cmake
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Updating hw-dev versions for verilator slang and verible. Adding libunwind-dev for verilator.
  docker/hw-dev/Dockerfile
Due: lint_dockerfiles:lint

Fixing up toolchains to cache the values so that they are in the CMakeCache once run.
  Modules/FindDefaultTest.cmake
  toolchain/arm-linux-gunueabi-gcc.toolchain.cmake
  toolchain/arm-none-eabi-gcc.toolchain.cmake
  toolchain/clang.toolchain.cmake
  toolchain/gcc.toolchain.cmake
Due: none

Fixing scan-build version to 20.
  External/workflows/github_test_sw.yml
Due: none

fix: Removing locally generated aliases and using gtest GTest::* cmake aliases.
  Modules/FindDefaultTest.cmake
  functions/MockTarget.cmake
  functions/TestTarget.cmake
Due: none

update: Updated sbom and github workflows.
  External/sbom.cmake
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Fixing GitHash to fixed size uint32_t. Other updates.
  External/.devcontainer/devcontainer.json
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  functions/GitHash.cmake
Due: none

Prep for version release.
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/sbom.cmake
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Fixing issue #39 using noble to lookup keyring.
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Updating github actions versions.
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Upgrading github ci to use latest action versions.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Updating GNU and Clang versions along with arm-none compiler.
  Modules/FindClangFormat.cmake
  Modules/FindDefaultStaticAnalysis.cmake
  Modules/FindFormatter.cmake
  docker/sw-arm-none-eabi/Dockerfile
  toolchain/arm-none-eabi-gcc.toolchain.cmake
  toolchain/clang.toolchain.cmake
  toolchain/gcc.toolchain.cmake
Due: lint_dockerfiles:lint

General cleanup and documentation fixes.
  .github/ISSUE_TEMPLATE/bug_report.md
  External/CMakePresets.json
  External/CMakePresets_notes.md
  Init.cmake
  Readme.rst
  docs/FlowForClangTidyCleanup.rst
  presets/CMakePresets-analysis.json
  presets/CMakePresets-arm-none-gcc.json
  presets/CMakePresets-common.json
  presets/CMakePresets-native-clang.json
  presets/CMakePresets-native-gcc.json
Due: none

Updating gitlab and bitbucket yml flies and cleanup of valgrind runs.
  External/.gitlab-ci.yml.default
  External/CMakePresets.json
  External/CMakePresets_notes.md
  External/bitbucket-pipelines.yml.default
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  Readme.rst
  docs/FlowForClangTidyCleanup.rst
  presets/CMakePresets-analysis.json
  presets/CMakePresets-arm-none-gcc.json
  presets/CMakePresets-common.json
  presets/CMakePresets-native-clang.json
  presets/CMakePresets-native-gcc.json
Due: none

Some more final udpates/clean-up.
  External/CMakePresets_notes.md
  External/workflows/github_test_sw.yml
  Readme.rst
Due: none

Updating tooling installed in docker images.
  docker/sw-aarch64-linux-gnu/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build
