Repository Retlek-Systems-Inc/rs_cmake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_dockerfiles:lint, sw-dev:build, hw-dev:build, docs:build

.gitlab-ci.yml:

# @copyright 2021 Retlek Systems Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

stages:
  - lint
  - build

default:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]

# Common Build Docker script
.common_build_docker: &common_build_docker
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  - >-
    /kaniko/executor
    --context "${CI_PROJECT_DIR}"
    --dockerfile "${CI_PROJECT_DIR}/docker/${DOCKER_IMAGE}/Dockerfile"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:${CI_COMMIT_TAG}"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:latest"

lint_dockerfiles:lint:
  stage: lint
  image:
    name: hadolint/hadolint:latest-debian
  script:
    - hadolint docker/sw-dev/Dockerfile
    - hadolint docker/hw-dev/Dockerfile
    - hadolint docker/docs/Dockerfile
  only:
    refs:
      - master
      - merge_requests
    changes:
      - docker/*/Dockerfile

sw-dev:build:
  stage: build
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: sw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/sw-dev/Dockerfile

hw-dev:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: hw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

docs:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: docs
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

Added GenerateVerilatedCode custom target for generating code before build.
  functions/RSVerilate.cmake
Due: none

Fixing FindVerilogTest for coverage.
  Modules/FindVerilogTest.cmake
Due: none

Fixing location to add static analysis clang-tidy files when FETCHCONTENT_BASE_DIR is updated.
  External/.gitlab-ci.yml.default
  Modules/FindDefaultBenchmark.cmake
  Modules/FindDefaultStaticAnalysis.cmake
  Modules/FindDefaultTest.cmake
  Modules/FindPlantUML.cmake
Due: none

Updating cmake-variants to include linters.
  External/vscode.cmake-variants.yaml
Due: none

Updating clang-tidy issues for google benchmark in FindDefaultBenchmark.cmake
  Modules/FindDefaultBenchmark.cmake
Due: none

Updating compiler and clang-tidy warnings that are in the verilated code.
  functions/RSVerilate.cmake
Due: none

Removing Docs build for now, until debugged.
  .gitlab-ci.yml
Due: none

More RSVerilate compile warning identification.
  functions/RSVerilate.cmake
Due: none

Adding arm-non-eabi docker and toolchain file.
  .gitlab-ci.yml
  docker/sw-arm-none-eabi/Dockerfile
  toolchain/arm-none-eabi-gcc.toolchain.cmake
Due: lint_dockerfiles:lint

Fixing linting warnings in dockerfile.
  docker/sw-arm-none-eabi/Dockerfile
Due: lint_dockerfiles:lint

Adding xz-utils to be able to unzip the arm files.
  docker/sw-arm-none-eabi/Dockerfile
Due: lint_dockerfiles:lint

Initial Freertos build environment.
  External/freertos/freertos_backoffalgorithm.cmake
  External/freertos/freertos_base.cmake
  External/freertos/freertos_coremqtt.cmake
  External/freertos/freertos_coresntp.cmake
  External/freertos/freertos_kernel.cmake
  External/freertos/freertos_kernel_portable.cmake
  External/freertos/freertos_plus_fat.cmake
  External/freertos/freertos_plus_fat_portable.cmake
  External/freertos/freertos_plus_tcp.cmake
  External/freertos/freertos_plus_tcp_portable.cmake
  External/freertos/freertos_plus_tcp_tools.cmake
  External/freertos/project_freertos.cmake
  Modules/FindPCAP.cmake
Due: none

Updating Freertos and mbedtls cmake files.
  External/freertos/freertos_base.cmake
  External/freertos/freertos_kernel.cmake
  External/freertos/freertos_plus_fat.cmake
  External/freertos/freertos_plus_tcp.cmake
  External/freertos/freertos_plus_tcp_portable.cmake
  External/jitterentropy/project_jitterentropy.cmake
  External/mbedtls/project_mbedtls.cmake
Due: none

Limiting build types when cross compiling
  Init.cmake
Due: none

Fixing relative paths.
  External/freertos/freertos_plus_tcp_portable.cmake
Due: none

Warning only when coverage tools not installed.
  Init.cmake
  Modules/CodeCoverage.cmake
Due: none

Limiting allowed build types for cross-compiling.
  Init.cmake
Due: none

Only creating coverage if BUILD_TEST enabled.
  Modules/FindDefaultTest.cmake
Due: none

Adding in C for clang-tidy check usage.
  Modules/FindDefaultStaticAnalysis.cmake
Due: none

Updating based on changes to freertos-kernel.
  External/freertos/freertos_kernel.cmake
  External/freertos/freertos_kernel_portable.cmake
  External/freertos/project_freertos.cmake
Due: none

Removing freertos-plus-tcp cmake files. Now in repo.
  External/freertos/freertos_plus_tcp.cmake
  External/freertos/freertos_plus_tcp_portable.cmake
  External/freertos/freertos_plus_tcp_tools.cmake
Due: none

Adding in github workflows for hw and sw testing.
  External/.gitlab-ci.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none

Adding in IWYU removal options for static analysis.
  Modules/FindDefaultStaticAnalysis.cmake
Due: none

Removing plus_fat now in main branch.
  External/freertos/freertos_coremqtt.cmake
  External/freertos/freertos_plus_fat.cmake
  External/freertos/freertos_plus_fat_portable.cmake
Due: none

Adding in github workflows for projects, updates to static analysis and coverage for various options.
  External/.gitlab-ci.yml.default
  External/vscode.devcontainer.json
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  Init.cmake
  Modules/CodeCoverage.cmake
  Modules/FindDefaultStaticAnalysis.cmake
  Modules/FindDefaultTest.cmake
  Modules/FindPCAP.cmake
Due: none

Adding in googletest cmock helper repo for C
  Modules/DefaultTest/gmock_c.cmake
  Modules/FindDefaultTest.cmake
Due: none

Pre-download and create deps dir for cmake env in docker image.
  External/.gitlab-ci.yml.default
  External/vscode.devcontainer.json
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/Readme.md
  docker/hw-dev/Dockerfile
  docker/hw-dev/hw-base.cmake
  docker/sw-dev/Dockerfile
  docker/sw-dev/sw-base.cmake
Due: lint_dockerfiles:lint, sw-dev:build

Updating dependencies for gmock_c
  External/gmock_c.cmake
Due: none

Added MockTarget USE_GMOCK_C option.
  functions/MockTarget.cmake
Due: none

Fixing docker image creation.
  docker/hw-dev/Dockerfile
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/Dockerfile
  docker/sw-dev/base.cmake
Due: lint_dockerfiles:lint, sw-dev:build

More fixes for docker and ci pipes.
  External/.gitlab-ci.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-dev/Dockerfile
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/Dockerfile
  docker/sw-dev/base.cmake
Due: lint_dockerfiles:lint, sw-dev:build

Updating docker build to allow context to identify files to copy.
  .gitlab-ci.yml
Due: none

Fixing sw-arm-none-eabi docker build.
  docker/sw-arm-none-eabi/Dockerfile
Due: lint_dockerfiles:lint

Fixing sw-arm-none-eabi docker image creation.
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-arm-none-eabi/arm-none-eabi-gcc.toolchain.cmake
Due: lint_dockerfiles:lint

Using fork of cmock with cmake support natively.
  External/gmock_c.cmake
  Modules/FindDefaultTest.cmake
Due: none

Using https for fetcContent for C-Mock.git
  Modules/FindDefaultTest.cmake
Due: none

Fixing MockTarget target_link_libraries when using CMock
  functions/MockTarget.cmake
Due: none

Fixing order of included link libraries for linker issues.
  functions/TestTarget.cmake
Due: none

Adding in clang-tidy errors for C-Mock
  functions/MockTarget.cmake
Due: none

Updating github workflows with latest actions and some additional settings.
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
Due: none
