Repository Retlek-Systems-Inc/rs_cmake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_dockerfiles:lint, sw-dev:build, hw-dev:build, docs:build

lint_dockerfiles:lint:
  stage: lint
  image:
    name: hadolint/hadolint:latest-debian
  script:
  - hadolint docker/sw-dev/Dockerfile
  - hadolint docker/hw-dev/Dockerfile
  - hadolint docker/docs/Dockerfile

sw-dev:build:
  stage: build
  inherit:
    default:
    - image
  variables:
    DOCKER_IMAGE: sw-dev
  script:
  - - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

hw-dev:build:
  stage: build
  needs:
  - sw-dev:build
  inherit:
    default:
    - image
  variables:
    DOCKER_IMAGE: hw-dev
  script:
  - - mkdir -p /kaniko/.docker
  ...

docs:build:
  stage: build
  needs:
  - sw-dev:build
  inherit:
    default:
    - image
  variables:
    DOCKER_IMAGE: docs
  script:
  - - mkdir -p /kaniko/.docker
  ...

Added gdb to Docker build
  docker/sw-nrfconnect/Dockerfile
Due: lint_dockerfiles:lint

Updated nrfconnect Dockerfile
  docker/sw-nrfconnect/Dockerfile
Due: lint_dockerfiles:lint

Updates from master to main.
  .gitlab-ci.yml
  External/bitbucket-pipelines.yml.default
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  Init.cmake
  Readme.rst
Due: none

Adding issue template, updated readme to restructured text and updates to cmake functions for new location.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/story-definition.md
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  Readme.rst
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Removing Devtool generation for deb or rpm files containing all build environment - using docker exclusively.
  devtool/CMakeLists.txt
  devtool/environment_setup.sh
Due: none

Removing specialized docker examples - will move into templates later.
  .github/workflows/lint_docker.yml
Due: none

Removing gitlab and bitbucket build environments for this repo and adding vscode default devcontainer setups.
  .gitlab-ci.yml
  External/.devcontainer/devcontainer.json
  External/.devcontainer/local/Dockerfile
  Readme.rst
  bitbucket-pipelines.yml
Due: none

Fixing remaining of github changes and updates to docker and container registry.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  External/.devcontainer/devcontainer.json
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/vscode.devcontainer.json
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/docs/Dockerfile
  docker/hw-dev/Dockerfile
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/Dockerfile
  docker/sw-dev/base.cmake
  docker/sw-esp-idf-v4.4.3/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Using rst for docker readme.
  docker/Readme.md
  docker/Readme.rst
  docker/sw-esp-idf-v4.4.3/Dockerfile
  docker/sw-esp-idf-v4.4.3/junk.sh
Due: lint_dockerfiles:lint

Fixing versions and removing remaining identifiers for sw-esp.
  .github/workflows/lint_docker.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Removing another non native docker image - moving later to a template.
  .github/workflows/lint_docker.yml
Due: none

Adding pull requests to linting option.
  .github/workflows/lint_docker.yml
Due: none

Fixing liniting warnings in docker files.
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Cleanup of publish_docker - action done on release build creation.
  .github/workflows/publish_docker.yml
Due: none

Fixing repo name to be lowercase for compliance with ghcr.io
  .github/workflows/publish_docker.yml
Due: none

Fixing references to upper-case ghcr.io image names.
  External/.devcontainer/local/Dockerfile
  External/.gitlab-ci.yml.default
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/docs/Dockerfile
  docker/hw-dev/Dockerfile
Due: lint_dockerfiles:lint

Fixing hw-dev (front-end docker file).
  docker/hw-dev/Dockerfile
Due: lint_dockerfiles:lint

Adding in docker for hardware back-end work.
  .github/workflows/lint_docker.yml
  docker/hw-backend/Dockerfile
  docker/hw-backend/base.cmake
Due: lint_dockerfiles:lint

Added documentation as to all of the various compilers and linters
  docs/Resources.rst
Due: none

Updating to clang-17 and verilator updates for 5.022.
  External/.gitlab-ci.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  Modules/FindVerilogTest.cmake
  functions/RSVerilate.cmake
Due: none

Adding verible to hw_dev and ensuring builds docker file.
  docker/hw-dev/Dockerfile
Due: lint_dockerfiles:lint

Fixing hadolint issues with new hw-backend docker file.
  docker/hw-backend/Dockerfile
Due: lint_dockerfiles:lint

Debug hw-backend docker and prep for release v0.3.2
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/Dockerfile
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: lint_dockerfiles:lint

More linting fixes for hw-backend DockerFile.
  docker/hw-backend/Dockerfile
Due: lint_dockerfiles:lint

Fixing include dir using rs_cmake ad FetchContent name.
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Fixing up compiler warnings and issues for verilator.
  Modules/FindVerilogTest.cmake
  docker/hw-backend/base.cmake
  docker/hw-dev/Dockerfile
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
  functions/RSVerilateLib.cmake
Due: lint_dockerfiles:lint

Prep work for new minor release v0.3.3
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Fixing up docs docker and adding build of hw-backend docker image.
  .github/workflows/publish_docker.yml
  docker/docs/Dockerfile
Due: lint_dockerfiles:lint

Fixes for clang-tidy-17 usage with googletest.
  Modules/FindDefaultStaticAnalysis.cmake
  Modules/FindDefaultTest.cmake
  functions/RSVerilateLib.cmake
Due: none

Env-#10: Adding in support for arm64 machines for docker images.
  .github/workflows/publish_docker.yml
  External/.devcontainer/local/Dockerfile
  docker/docs/Dockerfile
  docker/hw-backend/Dockerfile
  docker/hw-dev/Dockerfile
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Env: Adding python setup and linting functions for assisting in development.
  functions/FindPythonModule.cmake
  functions/PythonLint.cmake
  functions/PythonSetupVenv.cmake
Due: none

Prep: Preparing for minor revision update.
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Env-#10: Fixing hadolint issues.
  External/.devcontainer/local/Dockerfile
  docker/docs/Dockerfile
  docker/hw-backend/Dockerfile
  docker/hw-dev/Dockerfile
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Env-#10: Fixing name of BUILDPLATFORM
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Env-#10: Fixing up build of doc and hw-backend containers and adding description labels.
  .github/workflows/publish_docker.yml
  External/.devcontainer/local/Dockerfile
  docker/docs/Dockerfile
  docker/hw-backend/Dockerfile
  docker/hw-dev/Dockerfile
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Env-#10: Another fix for publish.
  .github/workflows/publish_docker.yml
Due: none

Updating benchmark clang-tidy issues for clang-tidy-17 and latest benchmark version.
  Modules/FindDefaultBenchmark.cmake
Due: none

AddConfiguration removing ASM for these.
  functions/AddConfiguration.cmake
Due: none

Adding in sw-aarch64-linux-gnu docker image
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-aarch64-linux-gnu/Dockerfile
  docker/sw-aarch64-linux-gnu/aarch64-linux-gnu-gcc.toolchain.cmake
  docker/sw-aarch64-linux-gnu/base.cmake
  docker/sw-dev/base.cmake
Due: lint_dockerfiles:lint

Path conditions:
  lint_dockerfiles:lint: any of: docker/*/Dockerfile
  sw-dev:build: any of: docker/sw-dev/Dockerfile
  hw-dev:build: any of: docker/*/DockerFile
  docs:build: any of: docker/*/DockerFile
