Repository Retlek-Systems-Inc/rs_cmake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_dockerfiles:lint, sw-dev:build, hw-dev:build, docs:build

.gitlab-ci.yml:

# @copyright 2021 Retlek Systems Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

stages:
  - lint
  - build

default:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]

# Common Build Docker script
.common_build_docker: &common_build_docker
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  - >-
    /kaniko/executor
    --context "${CI_PROJECT_DIR}"
    --dockerfile "${CI_PROJECT_DIR}/docker/${DOCKER_IMAGE}/Dockerfile"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:${CI_COMMIT_TAG}"
    --destination "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE}:latest"

lint_dockerfiles:lint:
  stage: lint
  image:
    name: hadolint/hadolint:latest-debian
  script:
    - hadolint docker/sw-dev/Dockerfile
    - hadolint docker/hw-dev/Dockerfile
    - hadolint docker/docs/Dockerfile
  only:
    refs:
      - master
      - merge_requests
    changes:
      - docker/*/Dockerfile

sw-dev:build:
  stage: build
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: sw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/sw-dev/Dockerfile

hw-dev:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: hw-dev
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

docs:build:
  stage: build
  needs: ["sw-dev:build"]
  inherit:
    default: [image]
  variables:
    DOCKER_IMAGE: docs
  script:
    - *common_build_docker
  only:
    refs:
      - tags
    changes:
      - docker/*/DockerFile

Preparation for v0.3.5 release
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-aarch64-linux-gnu/aarch64-linux-gnu-gcc.toolchain.cmake
  docker/sw-aarch64-linux-gnu/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Fixing hadolint for new docker image
  docker/sw-aarch64-linux-gnu/Dockerfile
Due: lint_dockerfiles:lint

Updating benchmark clang-tidy issues for clang-tidy-17 and latest benchmark version.
  Modules/FindDefaultBenchmark.cmake
Due: none

AddConfiguration removing ASM for these.
  functions/AddConfiguration.cmake
Due: none

Adding in sw-aarch64-linux-gnu docker image
  .github/workflows/lint_docker.yml
  .github/workflows/publish_docker.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-aarch64-linux-gnu/Dockerfile
  docker/sw-aarch64-linux-gnu/aarch64-linux-gnu-gcc.toolchain.cmake
  docker/sw-aarch64-linux-gnu/base.cmake
  docker/sw-dev/base.cmake
Due: lint_dockerfiles:lint

Minor instruction updates.
  Readme.rst
Due: none

Adding more options to python linting function
  functions/PythonLint.cmake
Due: none

Updating all toolversions to latest on ubuntu 24.04
  docker/add-separate-alternatives.Docker
  docker/docs/Dockerfile
  docker/hw-backend/Dockerfile
  docker/hw-dev/Dockerfile
  docker/sw-aarch64-linux-gnu/Dockerfile
  docker/sw-arm-none-eabi/Dockerfile
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Updating local devcontainer builds with defaults
  External/.devcontainer/devcontainer.json
  External/.devcontainer/local/Dockerfile
Due: none

Updating Google test and benchmark libs
  Modules/FindDefaultBenchmark.cmake
  Modules/FindDefaultTest.cmake
Due: none

Update version for release 0.4.0
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-aarch64-linux-gnu/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Fixing googletest tag.
  Modules/FindDefaultTest.cmake
Due: none

Fixing the version again.
  Modules/FindDefaultTest.cmake
Due: none

Fixing docs docker definition.
  docker/docs/Dockerfile
Due: lint_dockerfiles:lint

Fixing hw-backend docker build.
  docker/hw-backend/Dockerfile
Due: lint_dockerfiles:lint

Fixing cmake-variants and ubuntu 24.04 with WSL2 integration - reuse user.
  External/.devcontainer/local/Dockerfile
  External/vscode.cmake-variants.yaml
Due: none

Updating clang-tidy definitions for gtest/gmock/benchmark
  Modules/FindDefaultBenchmark.cmake
  Modules/FindDefaultTest.cmake
Due: none

Updating prep for version change.
  External/.gitlab-ci.yml.default
  External/bitbucket-pipelines.yml.default
  External/workflows/github_docs.yml
  External/workflows/github_test_hw.yml
  External/workflows/github_test_sw.yml
  docker/hw-backend/base.cmake
  docker/hw-dev/base.cmake
  docker/sw-aarch64-linux-gnu/base.cmake
  docker/sw-arm-none-eabi/base.cmake
  docker/sw-dev/base.cmake
Due: none

Updating github test_sw workflow
  External/workflows/github_test_sw.yml
Due: none

Cleanup of hadolint issues in hw-backend
  docker/hw-backend/Dockerfile
Due: lint_dockerfiles:lint

Updating issues identified when performing coverage runs.
  Modules/CodeCoverage.cmake
  Modules/FindDefaultBenchmark.cmake
  Modules/FindDefaultTest.cmake
  docker/sw-dev/Dockerfile
Due: lint_dockerfiles:lint, sw-dev:build

Fixing hw-backend hadolint issue
  docker/hw-backend/Dockerfile
Due: lint_dockerfiles:lint
